/* 1rem = 1em = 16px */
/* To calculate the breakpoint, you divide the breakpoint size by 16 */

@media (max-width: 84em) {
  body {
    background-color: rgba(255, 0, 0, 0.131);
    overflow-x: hidden;
  }

  .main-nav-ul {
    margin: 0;
  }

  .logo {
    width: 20rem;
  }

  .main-nav-li {
    font-size: 1.5rem;
  }

  .primary-header {
    font-size: 4rem;
  }

  .text-description {
    font-size: 2rem;
  }

  .img-grid {
    width: 40rem;
    top: 24%;
  }

  .find_food {
    height: 5rem;
  }

  .grey-img {
    width: 80%;
    height: 70%;
  }

  .greys {
    width: 100%;
    margin: 5rem;
  }

  .grey-discount {
    top: 42%;
  }

  .work-features {
    width: 130rem;
  }

  .p_m {
    width: 24rem;
  }

  .btn-order {
    width: 20rem;
  }

  .grid-4-cols {
    grid-template-columns: 20% 20% 20% 20%;
    gap: 3rem;
  }

  .food-img {
    width: 20rem;
    border-radius: 30%;
  }

  .features {
    padding: 4rem;
  }

  .details {
    padding: 3rem 0;
  }

  .d_i {
    width: 70rem;
  }

  .details {
    width: 100%;
  }

  .d-d {
    box-shadow: -5px 0 0 0 #7c7c7c47;
  }

  .f_t {
    font-size: 3.5rem;
  }

  .cta-btn {
    width: 30rem;
    font-size: 1.6rem;
    margin: 4rem 22rem;
  }

  .grid-4 {
    grid-template-columns: 15% 15% 28% 20%;
  }
}

@media (max-width: 75em) {
  body {
    background-color: rgb(174, 255, 174);
  }

  .logo {
    width: 20rem;
  }

  .img-grid {
    top: 29%;
    right: 0;
  }

  .secondary-header {
    font-size: 3rem;
  }

  .main-nav-li {
    font-size: 1.3rem;
  }

  .input {
    width: 40rem;
  }

  .find_food {
    width: 18rem;
  }

  .section-how {
    width: 100%;
    height: 60rem;
  }

  .work-features {
    gap: 2rem;
    text-align: center;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
  }

  .layout {
    width: 100%;
  }

  .work_image {
    margin: 0;
    width: 26rem;
  }

  .p_m {
    width: 100%;
  }

  .popular-section {
    margin: 0;
  }

  .greys {
    gap: 2rem;
  }

  .text-grey {
    font-size: 1.7rem;
  }

  .grid-4-cols {
    grid-template-columns: 25% 25% 25%;
    width: 100%;
    margin: 9rem;
  }

  .restaurant-item {
    margin-bottom: 2rem;
  }

  .btn-view {
    margin-left: 48rem;
  }

  .food-sw,
  .search {
    height: 100%;
    width: 100%;
  }

  .food-img {
    border-radius: 100%;
    width: 100%;
  }

  .s_s {
    margin: 0;
    padding: 5rem;
  }

  .align {
    font-size: 1.3rem;
  }

  .features {
    width: 100%;
    padding: 2rem;
  }

  .f_a {
    width: 100%;
  }

  .d-t {
    font-size: 2.5rem;
  }

  .app-install {
    width: 100%;
  }

  .a-i {
    width: 100%;
  }

  .d_i,
  .d_d,
  .d__d {
    width: 50%;
  }

  .d_t {
    width: 100%;
  }

  .c_t {
    left: 50%;
  }

  .cta-btn {
    width: 30rem;
    font-size: 1.6rem;
    margin: 4rem 10rem;
  }

  .f_t {
    font-size: 3rem;
    width: 50rem;
  }

  .f_f {
    width: 40rem;
  }

  .f--t {
    width: 40rem;
    font-size: 1.6rem;
  }

  .grid-4 {
    grid-template-columns: 18% 18% 26% 20%;
  }
}

@media (max-width: 64em) {
  body {
    background-color: rgb(187, 187, 243);
    overflow-x: hidden;
  }

  .primary-header {
    font-size: 3rem;
  }

  .grid-2-cols {
    width: 100%;
  }

  .img-grid {
    top: 25.6%;
  }

  .text-description {
    font-size: 1.7rem;
    line-height: 2;
  }

  .form,
  .text-field-btn {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .input {
    width: 100%;
  }

  .find_food {
    font-size: 1.4rem;
    padding: 2rem;
  }

  .g_w {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .grey-discount {
    top: 46%;
  }

  .grey-img {
    width: 100%;
  }

  .section-how {
    height: 110rem;
    width: 100%;
  }

  .popular-section,
  .s_s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
  }

  .popular-items {
    margin-bottom: 5rem;
    width: 100%;
  }

  .food-sw,
  .search {
    height: 100%;
    width: 100%;
  }

  .p_m,
  .r_m {
    width: 100%;
  }

  .food-img {
    border-radius: 0;
    width: 100%;
  }

  .align {
    text-align: center;
    font-size: 2rem;
  }

  .work-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
    width: 100%;
    text-align: center;
  }

  .work_image {
    width: 100%;
  }

  .layout {
    width: 100%;
  }

  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0;
  }

  .btn-view {
    margin-left: 40rem;
  }

  .f_a {
    width: 100%;
  }

  .features {
    width: 100%;
  }

  .d-t {
    font-size: 2rem;
  }

  .app-install {
    display: block;
  }

  .install {
    height: 100%;
    text-align: center;
    margin: auto;
  }

  .i_h {
    margin-top: 3rem;
    text-align: center;
  }

  .btn {
    text-align: center;
    margin: auto;
    margin-top: 5rem;
  }

  .d_i {
    width: 100%;
  }

  .d-d {
    width: 100%;
  }

  .d_i,
  .d_d,
  .d__d {
    width: 50%;
  }

  .d_t {
    width: 100%;
  }

  .d_b {
    width: 100%;
    font-size: 1.3rem;
  }

  .d_h {
    font-size: 2rem;
  }

  .f_t {
    font-size: 2rem;
    width: 100%;
  }

  .cta-btn {
    margin: 4rem 8rem;
  }

  .u_l {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 44em) {
  body {
    background-color: yellow;
  }

  .grid-2 {
    grid-template-columns: 50% 40%;
    display: block;
  }

  .img-grid {
    height: 35rem;
    width: 100%;
    top: 48rem;
    right: 4rem;
  }

  .primary-header {
    font-size: 2.5rem;
  }

  .text-description {
    font-size: 1.7rem;
  }

  .starv-bg {
    height: 75rem;
  }

  .g_w {
    grid-template-columns: 1fr;
  }

  .g_t {
    margin-left: 20rem;
  }

  .text-grey {
    margin-left: 3rem;
  }

  .grey-img {
    margin-top: 3rem;
    height: 25rem;
  }

  .section-how {
    height: 100%;
    width: 100%;
  }

  .work-features {
    grid-template-columns: 1fr;
    height: 100%;
    gap: 13rem;
  }

  .layout {
    width: 100%;
  }

  .text {
    text-align: center;
  }

  .work_image {
    height: 20rem;
    margin: 0;
  }

  .greys {
    display: block;
    height: 100%;
  }

  .grey-discount {
    top: 48%;
  }

  .popular-items {
    margin: auto;
  }

  .p_d {
    margin-left: 23rem;
  }

  .btn-order {
    width: 100%;
    margin-bottom: 4rem;
  }

  .grid-4-cols {
    display: block;
  }

  .deliveryy {
    left: 11%;
  }

  ._d {
    width: 100%;
  }

  .stat-btn {
    width: 100%;
  }

  .btn-view {
    margin-left: 0;
  }

  .food-sw {
    height: 100rem;
  }

  .s_s {
    display: block;
    height: 100%;
  }

  .food-sw,
  .search {
    height: 100%;
  }

  .align {
    margin-left: 2rem;
    font-size: 1.8rem;
  }

  .features {
    height: 100rem;
  }

  .f_a {
    display: block;
    background-color: transparent;
    padding: 4rem;
  }

  .d-t {
    margin-bottom: 4rem;
    margin-left: 14rem;
  }

  .feature-img {
    width: 100%;
  }

  .d-d {
    display: block;
    margin-bottom: 3rem;
  }

  .a-i {
    width: 100%;
  }

  .d_i,
  .d_d {
    border-radius: 0;
    width: 80%;
  }

  .d_d,
  .d_i {
    height: 27rem;
  }

  .d_d {
    padding: 4rem;
  }

  .d_h {
    font-size: 2rem;
  }

  .d_t {
    line-height: 2;
    font-size: 1.4rem;
  }

  .d_b {
    margin-top: 1rem;
  }

  .d-d {
    box-shadow: none;
  }

  .u_l {
    grid-template-columns: repeat(3, 1fr);
  }

  .c_t {
    left: 20%;
  }

  .grid-4 {
    display: block;
  }
}

@media (max-width: 34em) {
  body {
    background-color: aquamarine;
  }
  .primary-header {
    font-size: 1.8rem;
  }

  .text-description {
    font-size: 1.5rem;
  }

  .grid-2 {
    text-align: center;
  }

  .img-grid {
    width: 100%;
    margin: auto;
    top: 71%;
    right: 2rem;
  }

  .logo {
    width: 10rem;
  }

  .btn-div {
    gap: 1rem;
  }

  .address {
    width: 100%;
  }

  .form {
    padding: 1rem;
  }

  .pickup {
    width: 100%;
    padding: 1.8rem 1rem;
  }

  .btn-delivery {
    font-size: 1.5rem;
    padding: 1.8rem;
  }

  .text-field-btn {
    display: block;
    width: 35rem;
    width: 100%;
    height: 12rem;
  }

  .find_food {
    margin-top: 2rem;
    padding: 0;
  }

  .g_t {
    margin-left: 0;
    text-align: center;
  }

  .grey-box {
    width: 100%;
  }

  .grey-discount {
    top: 48%;
  }

  .text {
    text-align: center;
  }

  .secondary-header {
    font-size: 2rem;
  }

  .tertiary-header {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .p_d {
    margin-left: 8rem;
  }

  .btn-view {
    margin-left: 14rem;
    width: 20rem;
  }

  .s_s {
    display: block;
  }

  .align {
    text-align: center;
    font-size: 2rem;
  }

  .d-t {
    margin-left: 0;
  }

  .d_h {
    font-size: 1.5rem;
  }

  .d_t {
    font-size: 1.3rem;
  }

  .d_b {
    margin-top: 3rem;
  }

  .c_t {
    top: 50%;
  }

  .app-install {
    padding: 2rem;
  }

  .install-text {
    font-size: 1.5rem;
  }

  .c_t {
    left: 2rem;
  }

  .f_t {
    font-size: 1.8rem;
    color: #000;
  }

  .cta-btn {
    font-size: 1.2rem;
    width: 25rem;
  }

  .u_l {
    display: block;
  }

  .f_f {
    display: block;
  }

  .b_s {
    margin-top: 2rem;
  }

  .follow {
    font-size: 1.5rem;
  }

  .f--t {
    font-size: 1.4rem;
  }

  .a-r {
    font-size: 1.2rem;
  }

  .hr {
    margin-top: 8rem;
  }

  .footer {
    padding: 3rem;
  }
}
